In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
def model(x, y, theta, learning_rate, iterations):
    cost_list = []
    for _ in range(iterations):
        pred=(x@theta)
        pred=1/(1 + np.exp(-pred))
        error=pred-y
        #print(error.values)
        grads=(1/x.shape[0])*(x.T@error)
        theta = np.subtract(theta,learning_rate * grads)
    return theta

def compute_cost(X, y, theta):
    x_dot_theta = X.dot(theta)
    J = 1.0 / len(X) * (-y.T.dot(np.log(sigmoid(x_dot_theta))) - (1 - y).T.dot(np.log(1 - sigmoid(x_dot_theta))))
    return J

def sigmoid(z):
    g = 1 / (1 + np.exp(-z))
    return g

def compute_cost(X, y, theta):
    x_dot_theta = X.dot(theta)
    J = 1.0 / m * (-y.T.dot(np.log(sigmoid(x_dot_theta))) - (1 - y).T.dot(np.log(1 - sigmoid(x_dot_theta))))

    return J

In [ ]:
                                    #Data preprocessing stage

In [ ]:
main_df = pd.read_csv("census_income.csv")
main_df
num_col = main_df.select_dtypes(exclude=["object_"])
cat_col = main_df.select_dtypes(exclude=["number"])

In [ ]:
print(num_col.shape)
print(cat_col.shape)

In [ ]:
print(main_df.shape)
print(main_df.dtypes)

In [ ]:
main_df.isnull().sum()  #we have no null values

In [ ]:
print("Categorial Data : ", cat_col.columns)
print("Numeric Data : ", num_col.columns)

In [ ]:
main_df.nunique()

In [ ]:
main_df.describe()

In [ ]:
main_df['workclass'].value_counts()   #we have ? as data

In [ ]:
main_df['occupation'].value_counts()

In [ ]:
main_df['native-country'].value_counts()

In [ ]:
                                #Filling missing data

In [ ]:
main_df.columns

In [ ]:
main_df['workclass'] = main_df['workclass'].replace('?', 'Private') #replacing with mode
main_df['occupation'] = main_df['occupation'].replace('?', 'Exec-managerial')
main_df['native-country'] = main_df['native-country'].replace('?', 'United-States')

In [ ]:
main_df["native-country"].value_counts()

In [ ]:
main_df.head(8)

In [ ]:
                                        #handle categroical data

In [ ]:
#since there are many categorical features try to reduce the number of categorical features

In [ ]:
#education can be replaced made into 3 categories as school, high school, higher, undergrad, grad, doc

In [ ]:
main_df.education= main_df.education.replace(['Preschool', '1st-4th', '5th-6th', '7th-8th', '9th','10th', '11th', '12th'], 'school')
main_df.education = main_df.education.replace('HS-grad', 'high school')
main_df.education = main_df.education.replace(['Assoc-voc', 'Assoc-acdm', 'Prof-school', 'Some-college'], 'higher')
main_df.education = main_df.education.replace('Bachelors', 'undergrad')
main_df.education = main_df.education.replace('Masters', 'grad')
main_df.education = main_df.education.replace('Doctorate', 'doc')

In [ ]:
#martial status
main_df['marital-status']= main_df['marital-status'].replace(['Married-civ-spouse', 'Married-AF-spouse'], 'married')
main_df['marital-status']= main_df['marital-status'].replace(['Never-married'], 'not-married')
main_df['marital-status']= main_df['marital-status'].replace(['Divorced', 'Separated','Widowed',
                                                   'Married-spouse-absent'], 'other')

In [ ]:
# income  ##here categorical feature is converted to numerical data
main_df.income = main_df.income.replace('<=50K', 0)
main_df.income = main_df.income.replace('>50K', 1)

In [ ]:
main_df['income'].unique

In [ ]:
                                                #check corr

In [ ]:
main_df.corr()

In [ ]:
main_df.hist(figsize = (12, 12), layout = (3, 3), sharex = False)

In [ ]:
                                                #check outliers

In [ ]:
main_df.plot(kind='box', figsize=(12,12), layout=(3,3), sharex=False, subplots=True);

In [ ]:
#we can seperate input and output variables
X = main_df.drop(['income'], axis = 1)
y = main_df['income']

In [ ]:
X

In [ ]:
y

In [ ]:
                                        #univariate

In [ ]:
uni_df = main_df
print(uni_df)

In [ ]:
main_df.corr()  ##we will take education-num as our only feature to predict income

In [ ]:
X_u = uni_df['age'].values
y_u = uni_df['income'].values

In [ ]:
print(X_u.shape)
print(y_u.shape)

In [ ]:
plt.scatter(y_u,X_u, color='red',marker= '+')
plt.grid()
plt.rcParams["figure.figsize"] = (10,6)
plt.xlabel('edu')
plt.ylabel('income')
plt.title('Scatter plot of data')

In [ ]:
uni_df = uni_df.sample(frac=1)

# Define a size for your train set 
train_size = int(0.7 * len(uni_df))
# Split your dataset 
X_train_u = X_u[:train_size]
X_test_u = X_u[train_size:]

y_train_u = y[:train_size]
y_test_u = y[train_size:]

#Lets create a matrix with single column of ones


m = X_train_u.shape[0]
n = X_test_u.shape[0]
X_u0 = np.ones((m, 1))
X_u0[:5]
X_train_u = X_train_u.reshape((m, 1))
X_test_u = X_test_u.reshape((n, 1))
print(X_train_u.shape)
print(X_test_u.shape)
print(y_train_u.shape)
print(y_test_u.shape)

In [ ]:
X_train_u = np.hstack((X_train_u, X_u0))

In [ ]:
print(X_train_u)

In [ ]:
theta_u = np.zeros(2)
theta_u.shape

In [ ]:
def compute_cost(X, y, theta):
    x_dot_theta = X.dot(theta)
    J = 1.0 / len(X) * (-y.T.dot(np.log(sigmoid(x_dot_theta))) - (1 - y).T.dot(np.log(1 - sigmoid(x_dot_theta))))
    return J

def sigmoid(z):
    g = 1 / (1 + np.exp(-z))
    return g

In [ ]:
# plt.plot(np.arange(iterations), cost_history_u)
# plt.xlabel("Iterations")
# plt.ylabel("Cost")
# plt.show()

In [ ]:
X_u0 = np.ones((n, 1))
X_u0.shape

In [ ]:
X_test_u = np.hstack((X_test_u, X_u0))

In [ ]:
print(X_test_u.shape)

In [ ]:
print(X_train_u.shape)
print(X_test_u.shape)
y_train = y_train_u.values.reshape(X_train_u.shape[0], 1)
y_test = y_test_u.values.reshape(X_test_u.shape[0], 1)

print(y_train_u.shape)
print(y_test_u.shape)

In [ ]:
iterations = 1000
learning_rate = 0.001

theta_u[0] = 0
theta_u[1] = 0
W = model(X_train_u, y_train_u, theta_u, learning_rate = learning_rate, iterations = iterations)
print(W)

In [ ]:
y_pred_u = X_train_u@W
y_pred_u = sigmoid(y_pred_u)
print(y_pred_u)
y_pred_u_list = y_pred_u.tolist()

In [ ]:
y_pred_u_01 = [] 
for i in range(len(y_pred_u_list)):
    if(y_pred_u_list[i] >= 0.65):
        y_pred_u_01.append(1)
    else:
        y_pred_u_01.append(0)

In [ ]:
# print(y_pred_u_01)

In [ ]:
def accuracy(X, Y, W):
    Z = np.dot(X, W) 
    y_pred = sigmoid(Z)
    y_pred = y_pred >= 0.65
    y_pred = np.array(y_pred, dtype = 'int64')
    acc = (1 - np.sum(np.absolute(y_pred - Y))/Y.shape[0])*100
    print("Accuracy of the model is : ", round(acc, 2), "%")

In [ ]:
acc = accuracy(X_test_u, y_test_u, W)

In [ ]:
                                #multivariate (using a combination of features)

In [ ]:
multi_df = main_df
multi_df.head
print(multi_df.columns)

In [ ]:
print(multi_df.corr())

In [ ]:
#convert categorical data into integers

In [ ]:
print(multi_df.columns)

In [ ]:
multi_df.select_dtypes(exclude=["number","bool_"])

In [ ]:
multi_df["native-country"].value_counts()

In [ ]:
dummies_country = pd.get_dummies(multi_df["native-country"])

In [ ]:
print(dummies_country)

In [ ]:
new_df = pd.concat([multi_df, dummies_country], axis = 'columns')
multi_df = new_df

In [ ]:
print(multi_df.shape)

In [ ]:
multi_df.drop(['native-country', 'Yugoslavia'], axis=1, inplace=True)
print(multi_df.shape)

In [ ]:
multi_df.select_dtypes(exclude=["number","bool_"])

In [ ]:
multi_df["education"].unique()

In [ ]:
multi_df.education = multi_df['education'].replace('school', 1)
multi_df['education'] = multi_df['education'].replace('higher', 2)
multi_df['education'] = multi_df['education'].replace('high school', 3)
multi_df['education'] = multi_df['education'].replace('undergrad', 4)
multi_df['education'] = multi_df['education'].replace('grad', 5)
multi_df['education'] = multi_df['education'].replace('doc', 6)


multi_df["education"].unique()

##replaced with ranking because assuming higher rank gives more income

In [ ]:
multi_df.select_dtypes(exclude=["number","bool_"])

In [ ]:
multi_df["workclass"].unique()

In [ ]:
dummies_workclass = pd.get_dummies(multi_df["workclass"])
new_df = pd.concat([multi_df, dummies_workclass], axis = 'columns')
multi_df = new_df

In [ ]:
multi_df.drop(['workclass', 'Private'], axis=1, inplace=True)  #dropping dummy variables
print(multi_df.shape)

In [ ]:
multi_df.select_dtypes(exclude=["number","bool_"])

In [ ]:
dummies_occupation = pd.get_dummies(multi_df["occupation"])
new_df = pd.concat([multi_df, dummies_occupation], axis = 'columns')
multi_df = new_df

In [ ]:
multi_df.drop(['occupation', 'State-gov'], axis=1, inplace=True)

In [ ]:
multi_df.select_dtypes(exclude=["number","bool_"])

In [ ]:
print(multi_df["sex"].unique())
multi_df['sex'] = multi_df['sex'].replace('Male', 1)
multi_df['sex'] = multi_df['sex'].replace('Female', 2)

In [ ]:
multi_df["race"].unique()

In [ ]:
dummies_race = pd.get_dummies(multi_df["race"])
new_df = pd.concat([multi_df, dummies_race], axis = 'columns')
multi_df = new_df

In [ ]:
multi_df.drop(['race', 'White'], axis=1, inplace=True)

In [ ]:
multi_df.select_dtypes(exclude=["number","bool_"])

In [ ]:
multi_df["marital-status"].unique()

In [ ]:
dummies_martial = pd.get_dummies(multi_df["marital-status"])
new_df = pd.concat([multi_df, dummies_martial], axis = 'columns')
multi_df = new_df

In [ ]:
multi_df.columns

In [ ]:
multi_df.drop(['marital-status', 'married'], axis=1, inplace=True)

In [ ]:
multi_df.drop(['relationship'], axis=1, inplace=True)

In [ ]:
print(multi_df.shape)

In [ ]:
print(multi_df.corr())

In [ ]:
#### Removing Categorical data part is done

In [ ]:
multi_df.corr()

In [ ]:
X_m = multi_df.drop('income', 1)
y_m = multi_df["income"]

In [ ]:
print(X_m.shape)
print(y_m.shape)

In [ ]:
multi_df = multi_df.sample(frac=1)

# Define a size for your train set 
train_size = int(0.7 * len(uni_df))
# Split your dataset 
X_train_m = X_m[:train_size]
X_test_m = X_m[train_size:]

y_train_m = y_m[:train_size]
y_test_m = y_m[train_size:]

#Lets create a matrix with single column of ones

m = X_train_m.shape[0]
n = X_test_m.shape[0]
col = X_train_m.shape[1]
X_m0 = np.ones((m, 1))
X_m0[:5]
X_train_m = X_train_m.values.reshape((m, col))
X_test_m = X_test_m.values.reshape((n, col))
print(X_train_m.shape)
print(X_test_m.shape)
print(y_train_m.shape)
print(y_test_m.shape)

In [ ]:
X_train_m = np.hstack((X_train_m, X_m0))

In [ ]:
X_train_m.shape

In [ ]:
theta_m = np.zeros(X_train_m.shape[1])
print(theta_m)
theta_m.shape

In [ ]:
iterations = 1000
print(X_train_m.shape)
theta_m = [0]*(X_train_m.shape[1])
theta_m = model(X_train_m, y_train_m, theta_m, 0.0001, iterations)
print ('Gradient at initial theta (zeros):', theta_m)

In [ ]:
y_pred_m = X_train_m.dot(theta_m)
y_pred_m = sigmoid(y_pred_m)
y_pred_m_list = y_pred_m.tolist()

In [ ]:
y_pred_m_01 = [] 
for i in range(len(y_pred_m_list)):
    if(y_pred_m_list[i] >= 0.65):
        y_pred_m_01.append(1)
    else:
        y_pred_m_01.append(0)

In [ ]:
print(y_pred_m_01)

In [ ]:
def accuracy(X, Y, W):
    Z = np.dot(X, W) 
    y_pred = sigmoid(Z)
    y_pred = y_pred >= 0.65
    y_pred = np.array(y_pred, dtype = 'int64')
    acc = (1 - np.sum(np.absolute(y_pred - Y))/Y.shape[0])*100
    print("Accuracy of the model is : ", round(acc, 2), "%")

In [ ]:
X_m0 = np.ones((X_test_m.shape[0], 1))

In [ ]:
X_test_m = np.hstack((X_test_m, X_m0))

In [ ]:
acc = accuracy(X_test_m, y_test_m, theta_m)

In [403]:
                                    #Newtons Univariate

In [404]:
multi_df.columns

Index(['age', 'education', 'education-num', 'sex', 'capital-gain',
       'capital-loss', 'hours-per-week', 'income', 'Cambodia', 'Canada',
       'China', 'Columbia', 'Cuba', 'Dominican-Republic', 'Ecuador',
       'El-Salvador', 'England', 'France', 'Germany', 'Greece', 'Guatemala',
       'Haiti', 'Honduras', 'Hong', 'Hungary', 'India', 'Iran', 'Ireland',
       'Italy', 'Jamaica', 'Japan', 'Laos', 'Mexico', 'Nicaragua', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto-Rico', 'Scotland', 'South',
       'Taiwan', 'Thailand', 'Trinadad&Tobago', 'United-States', 'Vietnam',
       'Federal-gov', 'Local-gov', 'Never-worked', 'Self-emp-inc',
       'Self-emp-not-inc', 'Without-pay', 'Adm-clerical', 'Armed-Forces',
       'Craft-repair', 'Exec-managerial', 'Farming-fishing',
       'Handlers-cleaners', 'Machine-op-inspct', 'Other-service',
       'Priv-house-serv', 'Prof-specialty', 'Protective-serv', 'Sales',
       'Tech-support', 'Transport-moving', 'Amer-Indian-Eskimo',
       'Asian-Pac-Islander', 'Black', 'Other', 'not-married', 'other'],
      dtype='object')

In [405]:
def sigmoid_n(z):                                                                                                      
    z = 1.0 / (1.0 + np.exp(-z)) 
    return z

In [406]:
def log_likelihood(x, y, Θ_1, Θ_2):                                                                
    sigmoid_probs = sigmoid_n(x, Θ_1, Θ_2)                                        
    return np.sum(y * np.log(sigmoid_probs)
                  + (1 - y) * np.log(1 - sigmoid_probs))

In [407]:
def gradient(X, y, theta):                                                         
    sigmoid_probs = sigmoid_n(X.dot(theta))                                        
    return (sigmoid_probs - y)

In [408]:
def newtons_method(X, y, theta, reg = None): 
    y_pred = sigmoid_n(X.dot(theta))
    W = np.diag(y_pred *(1 - y_pred))
    hessian = (X.T).dot(W).dot(X)    
    grad = gradient(X, y, theta)
    grad = grad.dot(X)
    
    if reg:
        step = np.dot(np.linalg.inv(hessian + reg*np.eye(theta.shape[0])), grad)
    else:
        step = np.dot(np.linalg.inv(hessian), grad)
        
    theta = theta + step
    
    return theta

In [409]:
X_newton = multi_df["education"].values
X_newton = X_newton.reshape(X_newton.shape[0], 1)
y_newton = multi_df["income"].values
X_newton0 = np.ones((X_newton.shape[0], 1))

In [410]:
print(X_newton0.shape)
X_newton = np.hstack((X_newton, X_newton0))

(17841, 1)

In [411]:
print(X_newton.shape)
theta_newton = [0.5] * 2
print(theta_newton)

(17841, 2)
[0.5, 0.5]

In [412]:
theta_newton = newtons_method(X_newton, y_newton, theta_newton, None)
print(theta_newton)

[1.19699353 2.44630262]

In [413]:
## Hyperparameters
max_iters = 20
tol=0.1 # convergence tolerance
reg_term = 1

theta_old = [0.5] * 2
theta_new = [0.5] * 2
iter_count = 0
coefs_converged = False

while not coefs_converged:
    print('Iteration: {}'.format(iter_count))
    #print('Validation Accuracy: {}%'.format(test_model(X_newton, y_newton, theta_old)))
    theta_old = theta_new
    theta_new = newtons_method(X_newton, y_newton, theta_newton, reg_term)
    iter_count += 1
    coefs_converged = check_convergence(theta_old, theta_new, tol, iter_count)
    print(theta_old)

Iteration: 0
[0.5, 0.5]
Iteration: 1
[ 124.88948969 -116.96998954]

In [414]:
def test_model(X, y, beta):
    prob = np.array(sigmoid(X.dot(beta)))
    prob = np.greater(prob, 0.5*np.ones((prob.shape[1],1)))
    accuracy = np.count_nonzero(np.equal(prob, y))/prob.shape[0] * 100
    return accuracy

In [415]:
def check_convergence(beta_old, beta_new, tol, iters):
    coef_change = np.abs(beta_old - beta_new)
    return not (np.any(coef_change>tol) and iters < max_iters)